#Requirements in CFR&ASEN
#(Criminal Face Recognition and Alert System with Email #Notification)


deepface==0.0.79
distlib==0.3.7
dlib==19.24.2
face-recognition==1.3.0
face-recognition-models==0.3.0
mediapipe==0.10.5
numpy==1.26.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78